<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
<title>ipoetry-регистрация</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="Keywords" content="" />
<meta name="description" content="Регистрация пользователя ipoetry" />
<meta name="robots" content="index,follow" />

    {% block stylesheets %}
        {% stylesheets 'bundles/ipoetry/css/screen.css'
        'bundles/ipoetry/css/style.css'
        'bundles/ipoetry/bootstrap/docs/dist/css/bootstrap.min.css'
        'bundles/ipoetry/bootstrap/docs/dist/css/bootstrap-theme.min.css'
         filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />     
        {% endstylesheets %}        
    {% endblock %}            
</head>
<body id="body_container" style="position: absolute; width:100%;height:100%;max-width:100%;max-height:100%;" onresize="btn_font_size();"> <!--//onload="javascript:Dimension();" width: 1160px; height: 800px;visibility:hidden;-->

<div class="container-fluid" id="container_main">
<div class="row">
<div class="col-lg-14">

</div>
</div>

<div class="row">
    <a href="{{ path('IpoetryBundle_root') }}" data-toggle="popover" title="На главную" data-content="Some content inside the popover">На главную</a>
    <br />
</div>
    
<div class="row">
<div class="col-lg-offset-5 col-lg-2">
{% form_theme form 'IpoetryBundle:Default:form_fields.html.twig' %}
<form id="login_user_form" class="bg-info form-signin" role="form" method="post" action="uroom">
{# {{ form_start(form) }} #}
<h2 class="form-signin-heading">{{'Registeration.'|trans}}</h2>
    {{ form_widget(form) }}
{# {{ form_end(form) }} #}
</form>

</div>

</div>
</div>
{% block javascripts %}
{% javascripts '@IpoetryBundle/Resources/public/js/jquery-1.11.0.min.js'
'@IpoetryBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
'@IpoetryBundle/Resources/public/js/w_load.js'
'@IpoetryBundle/Resources/public/bootstrap/docs/assets/js/ie-emulation-modes-warning.js'
'@IpoetryBundle/Resources/public/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
<script type="text/javascript">
    function validating_form(){
        $.ajax({
        url: '{{ path('IpoetryBundle_uroomajax') }}',
        type: 'post',
        data: 'login_json={"type":"signin","signin_username":"'+$('#signin_username').val()+
                                         '","signin_userlastname":"'+$('#signin_userlastname').val()+
                                         '","signin_useremail":"'+$('#signin_useremail').val()+
                                         '","signin_userpassword":"'+$('#signin_userpassword').val()+
            '"}' ,
        //HTTP='login='+$('#login_login').val()+'&password='+$('#login_password').val()
        //JSON='{"login":"'+$('#login_login').val()+'","password":"'+$('#login_password').val()+'"}'
        dataType: 'json',
        beforeSend: function() {},
        complete: function() {},
        success: function(json) {
            if (json['logging']==1) {
                console.log('AJAX_user_signin successfull logging='+json['logging']+' login='+json['login']+' password='+json['password']);
                location.href='{{ path('IpoetryBundle_uroom') }}';
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log('error AJAX_user_signin ' + textStatus);
        }
        });
    }
    $(document).ready(function () {
        {% block documentReady %}
            //$('[data-toggle="popover"]').popover(); 
            $('#login_user_form').attr('method','');
            $('#login_user_form').attr('action','javascript:validating_form();');

        {% endblock documentReady %}
    });
</script>
</body>
</html>
