<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru"  ng-app="unewsfeedallApp">
<head>
<title>ipoetry-просмотр ленты</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="Keywords" content="" />
<meta name="description" content="Лента стихов ipoetry" />
<meta name="robots" content="index,follow" />

    {% block stylesheets %}
        {% stylesheets 'bundles/ipoetry/css/screen.css'
        'bundles/ipoetry/css/style.css'
        'bundles/ipoetry/bootstrap/docs/dist/css/bootstrap.min.css'
        'bundles/ipoetry/bootstrap/docs/dist/css/bootstrap-theme.min.css'
        'bundles/ipoetry/js/jQuery-File-Upload-9.12.3/css/jquery.fileupload.css'
         filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />     
        {% endstylesheets %}        
    {% endblock %}            
</head>
<body id="body_container" style="position: absolute; width:100%;height:100%;max-width:100%;max-height:100%;"> <!--//onload="javascript:Dimension();" width: 1160px; height: 800px;visibility:hidden;-->
            {{ include('IpoetryBundle::baseheader.html.twig',{'userheaderInfo':userheaderInfo}) }}
<div class="wrapper">
    <div ng-controller="unewsfeedallController" ng-init="init({{uprofilenewsfeedlimit}},'{{ path('IpoetryBundle_mainajax') }}','{{app.request.getRequestUri}}')">

		<!-- Верхняя информационная панель -->
		<div class="top-info-panel gray-bg">
			<div class="container clearfix">
				<div class="feed-sorting">
					<div class="feed-sorting-items-wrap tabs">
						<div class="feed-sorting-item tab active">Общая лента</div>
						<!--<div class="feed-sorting-item tab">Лента сообществ</div>-->
						<div class="feed-sorting-item tab">Лента подписчиков</div>
						<div class="feed-sorting-item tab">Моя лента</div>
					</div>
                                        <div class="feed-sorting-input-wrap">
        				    <button id="addpoembtn" class="btn-blue-bg" style="width: 277px;height: auto;padding: 12px 15px 11px;margin-left: 360px;">Добавить стихотворение</button>
                                        </div>
				</div>
			</div>
		</div>
		<!-- Верхняя информационная панель конец -->

		<!-- Главный контейнер -->
		<div class="main-wrap">
			<div class="container clearfix">

				<!-- Контент -->
				<div class="content">

					<!-- Результаты фильтрации -->
					<div class="tab_content">

						<!-- Вкладка -->
						<div class="tab_item" style="display: block;">

                                                    <div ng-repeat="unewsfeeditem in unewsfeed | orderBy:propertyName:reverse" postid="{% verbatim %}{{unewsfeeditem.poetry_id}}{% endverbatim %}" name="unewsfeedblock">

                                                        <!-- Пост в ленте пользователя-->
                                                        <div class="main-post-item" rating="{% verbatim %}{{unewsfeeditem.poetrydailyrating.poetryRating}}{% endverbatim %}">
                                                                <div class="main-post-item-top" style="background-image: url({% verbatim %}{{unewsfeeditem.image}}{% endverbatim %});background-repeat: no-repeat;background-position: center;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain;">
                                                                        <div class="main-post-item-top-inner">
                                                                            <div class="main-post-add-time">{% verbatim %}{{unewsfeeditem.created | moment: 'fromNow'}}{% endverbatim %} в {% verbatim %}{{unewsfeeditem.created | moment: "format":"LT"}}{% endverbatim %}</div>
                                                                            <a href="../unewsfeedentity/{% verbatim %}{{unewsfeeditem.userid}}{% endverbatim %}_{% verbatim %}{{unewsfeeditem.poetry_id}}{% endverbatim %}" class="main-post-title">{% verbatim %}{{unewsfeeditem.title}}{% endverbatim %}</a><br/>
                                                                                <div ng-repeat="tag in unewsfeeditem.tags_only" class="main-post-tags" style="display:inline;width:80px;">
                                                                                        <a href="#" tagid="{% verbatim %}{{tag.tagid}}{% endverbatim %}">#{% verbatim %}{{tag.tagtext}}{% endverbatim %}</a>
                                                                                </div>
                                                                                <div class="main-post-item-info">
                                                                                        <div class="main-post-item-info-item post-views">{% verbatim %}{{unewsfeeditem.poetryViewers}}{% endverbatim %}</div>
                                                                                        <a href="#" class="main-post-item-info-item post-comments">{% verbatim %}{{unewsfeeditem.poetrypostscnt}}{% endverbatim %}</a>
                                                                                </div>
                                                                                <div class="main-post-more-details" ng-mouseover="shbutton($event);" ng-mouseleave="delbutton($event);" ng-show="ownershow" getbodyelem>
                                                                                        <div class="show-more-details-inner-wrap" style="display: none; opacity: 1;">
                                                                                                <button postid="{% verbatim %}{{unewsfeeditem.poetry_id}}{% endverbatim %}" userid="{% verbatim %}{{unewsfeeditem.userid}}{% endverbatim %}" class="btn-white-border del" ng-click="showModal($event);" value="{% verbatim %}{{delbtnname}}{% endverbatim %}">{% verbatim %}{{delbtnname}}{% endverbatim %}</button> <!--ng-click="delelement($event);"-->
                                                                                        </div>
                                                                                </div>
                                                                                <div class="plagiat" style="display: none; opacity: 1;">Плагиат</div>
                                                                        </div>
                                                                </div>
                                                                <div class="main-post-item-bottom clearfix">
                                                                        <div class="main-post-item-author">
                                                                                <a href="../user-profile/{% verbatim %}{{unewsfeeditem.userid}}{% endverbatim %}" class="main-post-item-author-img-wrap">
                                                                                    <img src="{% verbatim %}{{unewsfeeditem.uphotourl}}{% endverbatim %}" alt="alt">
                                                                                </a>
                                                                                <div class="main-post-item-text clearfix">
                                                                                        <a href="#" class="main-post-item-author-name">{% verbatim %}{{unewsfeeditem.owneruname}} {{unewsfeeditem.ownerulastname}}{% endverbatim %}</a>
                                                                                        <div class="main-post-item-time" style="display:none">{% verbatim %}{{unewsfeeditem.created}}{% endverbatim %}</div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="main-post-item-social-panel clearfix">
                                                                                <a href="#" class="post-social-item"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                                                                                <a href="#" class="post-social-item"><i class="fa fa-vk" aria-hidden="true"></i></a>
                                                                                <a href="#" class="post-social-item"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                                                <a href="#" class="post-social-item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                        <div class="main-post-poem-text clearfix">{% verbatim %}{{unewsfeeditem.comment}}{% endverbatim %}
                                                                        <div class="main-post-item-recommend recommend-smoke-bg" style="display: {% verbatim %}{{unewsfeeditem.recommendvisibility}}{% endverbatim %}; opacity: 1;">iPoetry рекомендует</div>    
                                                                        </div>
                                                                        <div class="main-post-likes-wrap">
                                                                            <div class="like" poetryid="{% verbatim %}{{unewsfeeditem.poetry_id}}{% endverbatim %}" ng-click="Likefunc($event,'{{ path('IpoetryBundle_unewsfeedentityajax') }}','up');">{% verbatim %}{{unewsfeeditem.like}}{% endverbatim %}</div>
                                                                            <div class="dislike" poetryid="{% verbatim %}{{unewsfeeditem.poetry_id}}{% endverbatim %}" ng-click="Likefunc($event,'{{ path('IpoetryBundle_unewsfeedentityajax') }}','down');">{% verbatim %}{{unewsfeeditem.dislike}}{% endverbatim %}</div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <!-- Пост в ленте пользователя конец -->
						</div>
						<!-- Вкладка конец -->
					</div>
					<!-- Результаты фильтрации конец-->
				</div>
                                <button id="getunewsfeedblockbtn" type="submit" class="btn-blue-bg" ng-click="moreuNewsfeed()">
                                <span>{% trans %}%MoreFeeds%{% endtrans %}</span>
                                </button>
				<!-- Контент конец -->
			</div>
				<!-- Боковая панель -->
				<aside>

					<!-- Виджет боковой панели -->
					<div class="aside-widget week-author-widget">

						<!-- Автор недели -->
                                                {% for userratingitem in userrating.usersratings %}
                                                <div class="poem-item clearfix">
                                                            <a class="aside-widget-title" href="#">Автор недели</a>
                                                            <a href="#" class="week-author-img-wrap">
                                                                    <img src="{{userratingitem.userPhotoUrl}}" alt="alt">
                                                            </a>
                                                            
                                                            <a class="week-author-name" href="#">{{userratingitem.userName}} {{userratingitem.userLastname}}</a>
                                                </div>
                                                {% endfor %}

						<!-- Автор недели конец -->

					</div>
					<!-- Виджет боковой панели конец-->

				</aside>
				<!-- Боковая панель конец -->
		</div>
		<!-- Главный контейнер конец -->

	</div>
    </div>
</div>
    <!--    <button id="setusersubscriptionbtn" type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Subscribe</span>
        </button>
        <div style="clear:both;"></div>
    -->
        <input id="datapartnum" type="hidden" value="1"/>
    
<!-- Подвал -->
        {{ include('IpoetryBundle::basefooter.html.twig') }}    
{% block javascripts %}
{% javascripts '@IpoetryBundle/Resources/public/js/jquery-1.11.0.min.js'
'@IpoetryBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
'@IpoetryBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
'@IpoetryBundle/Resources/public/js/angular.min.js'
'@IpoetryBundle/Resources/public/js/angular-animate.min.js'
'@IpoetryBundle/Resources/public/js/angular-route.min.js'
'@IpoetryBundle/Resources/public/js/fancybox/jquery.fancybox.pack.js'
'@IpoetryBundle/Resources/public/js/unewsfeedallapp.js'
'@IpoetryBundle/Resources/public/js/w_load.js'
'@IpoetryBundle/Resources/public/js/libs.js'
'@IpoetryBundle/Resources/public/js/common.js'
'@IpoetryBundle/Resources/public/js/angular-strap-2.3.6/dist/angular-strap.js'
'@IpoetryBundle/Resources/public/js/angular-strap-2.3.6/dist/angular-strap.tpl.min.js'
'@IpoetryBundle/Resources/public/js/moment-with-locales.min.js'
'@IpoetryBundle/Resources/public/js/angular-strap-2.3.6/src/modal/modal.js'
'@IpoetryBundle/Resources/public/bootstrap/docs/assets/js/ie-emulation-modes-warning.js'
'@IpoetryBundle/Resources/public/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js'
%}

<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
<script type="text/javascript">
    
    String.prototype.escapeHTML = function() {
            return this.replace(/&/g, "&amp;")
                       .replace(/</g, "&lt;")
                       .replace(/>/g, "&gt;")
                       .replace(/"/g, "&quot;")
                       .replace(/'/g, "&#039;");
    }
    function stripslashes(str) {
        str = str.replace(/\\'/g, '\'');
        str = str.replace(/\\"/g, '"');
        str = str.replace(/\\0/g, '\0');
        str = str.replace(/\\\\/g, '\\');
        return str;
    }
    
    function GetAllNewsfeed(){
        //делаем запрос о наличии у пользователя ленты со стихами/комментариями
        //шлем AJAX
        //ajaxdata='main_json={"type":"get_all_newsfeed","user":"all","datapart":'+$('#datapartnum').val()+'}';
        ajaxdata=JSON.stringify({type:"get_all_newsfeed","user":"all","datapart":$('#datapartnum').val()});
        console.log(ajaxdata);
        url='{{ path('IpoetryBundle_mainajax') }}';
        type='post';
        dataType='json';
        onsuccess=function(json) {
            console.log(json['result']);
            console.log(json['newsfeed']);
            if (json['result']>0) {
                console.log($('#datapartnum').val());
                $( '<p>'+json['newsfeed']+'</p>' ).insertBefore('#getuserfeedinfobtn');
                console.log('AJAX_userFollowers_feed_available result='+json['result']);
                $('#datapartnum').val((Number($('#datapartnum').val())+1));
                //location.href='{{ path('IpoetryBundle_uroom') }}';
            }
        };
        onerror=function(jqXHR, textStatus, errorThrown) {
            console.log('error AJAX_userFollowers_feed_available ' + textStatus);
        };
        ajaxprototype(ajaxdata,url,type,dataType,onsuccess,onerror);
    }
    
    $(document).ready(function () {
        {% block documentReady %}
            /*
            $('#getunewsfeedblockbtn').on('click',function (event){
                event = event || window.event;

                  if (event.preventDefault) { // если метод существует
                    event.preventDefault(); // то вызвать его
                  } else { // иначе вариант IE8-:
                    event.returnValue = false;
                  }
                  GetAllNewsfeed();
            });
            */
           $('#addpoembtn').on('click',function (event){
                event = event || window.event;

                  if (event.preventDefault) { // если метод существует
                    event.preventDefault(); // то вызвать его
                  } else { // иначе вариант IE8-:
                    event.returnValue = false;
                  }
                  location.assign('{{ path('IpoetryBundle_addpoem') }}');
            });
            //checkOwnProfile();
            //checkUserSubscribed();

            //проверяем если это анонимный пользователь
            //тогда скрываем лишние элементы
            if (Number($('.topline-user-wrap').eq(0).attr('dbid'))===-1) {
                //в фильтрах оставляем только общая лента
                $('.feed-sorting-item.tab').eq(1).fadeOut();
                $('.feed-sorting-item.tab').eq(2).fadeOut();
                //убираем обавление стихотворения
                $('#addpoembtn').fadeOut();
            }
            
        {{ include('IpoetryBundle::basejs.html.twig') }}
        {% endblock documentReady %}
    });
</script>

</body>
</html>
