<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
<title>ipoetry-логин</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="Keywords" content="" />
<meta name="description" content="Вход в личный кабинет пользователя ipoetry" />
<meta name="robots" content="index,follow" />

    {% block stylesheets %}
        {% stylesheets 'bundles/ipoetry/css/screen.css'
        'bundles/ipoetry/css/style.css'
        'bundles/ipoetry/bootstrap/docs/dist/css/bootstrap.min.css'
        'bundles/ipoetry/bootstrap/docs/dist/css/bootstrap-theme.min.css'
         filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />     
        {% endstylesheets %}        
    {% endblock %}            
</head>
<body id="body_container" style="position: absolute; width:100%;height:100%;max-width:100%;max-height:100%;" onresize="btn_font_size();"> <!--//onload="javascript:Dimension();" width: 1160px; height: 800px;visibility:hidden;-->

<div class="container-fluid" id="container_main">
<div class="row">
<div class="col-lg-14">

</div>
</div>

<div class="row">
    <a href="{{ path('IpoetryBundle_root') }}" data-toggle="popover" title="На главную" data-content="Some content inside the popover">На главную</a>
    <br />
</div>
    
<div class="row">
<div class="col-lg-offset-5 col-lg-2">
{% form_theme login_form 'IpoetryBundle:Default:form_fields.html.twig' %}
<form id="login_user_form" class="bg-info form-signin" role="form" method="post" action="uroom">
<h2 class="form-signin-heading">{{'Already\'ve login.'|trans}}</h2>
    {{ form_widget(login_form) }}
</form>
<a id="lost_password_a" href="#">забыли пароль?</a>
{% form_theme lost_password_form 'IpoetryBundle:Default:form_fields.html.twig' %}
<form id="lost_password_form" class="bg-info form-signin" style="visibility:hidden;" role="form" method="post" action="#">
<h2 class="form-signin-heading">{{'Enter your email'|trans}}</h2>
    {{ form_widget(lost_password_form) }}
</form>

</div>
</div>
</div>
{% block javascripts %}
{% javascripts '@IpoetryBundle/Resources/public/js/jquery-1.11.0.min.js'
'@IpoetryBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
'@IpoetryBundle/Resources/public/js/w_load.js'
'@IpoetryBundle/Resources/public/bootstrap/docs/assets/js/ie-emulation-modes-warning.js'
'@IpoetryBundle/Resources/public/bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
<script type="text/javascript">
    function validating_login_form(){
        $.ajax({
        url: '{{ path('IpoetryBundle_uroomajax') }}',
        type: 'post',
        cache: true,
        data: 'login_json={"type":"login","login":"'+$('#login_login').val()+'","password":"'+$('#login_password').val()+'"}' ,
        //HTTP='login='+$('#login_login').val()+'&password='+$('#login_password').val()
        //JSON='{"login":"'+$('#login_login').val()+'","password":"'+$('#login_password').val()+'"}'
        dataType: 'json',
        beforeSend: function() {},
        complete: function() {},
        success: function(json) {
            if (json['logging']==1) {
                console.log('AJAX_user_login successfull logging='+json['logging']+' login='+json['login']+' password='+json['password']);
                location.href='{{ path('IpoetryBundle_uroom') }}';
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log('error AJAX_user_login ' + textStatus);
        }
        });
    }
    function validating_lost_password_form(){
        $.ajax({
        url: '{{ path('IpoetryBundle_loginajax') }}',
        type: 'post',
        cache: true,
        data: 'login_json={"type":"lost_pwd_email","email":"'+$('#form_email').val()+'"}' ,
        //JSON='{"type":"lost_pwd_email","email":"'+$('#form_email').val()+'"}'
        dataType: 'json',
        beforeSend: function() {},
        complete: function() {},
        success: function(json) {
            if (json['lost_pwd_email_send']==1) {
                console.log('AJAX_lost_pwd_email successfull lost_pwd_email_send='+json['lost_pwd_email_send']);
                location.href='{{ path('IpoetryBundle_login') }}';
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log('error AJAX_user_login ' + textStatus);
        }
        });
    }
    function lost_password(){
        //console.log('href_was_clicked');
        $('#login_user_form').css('visibility','hidden');
        $('#lost_password_form').css('visibility','visible');
    }
    $(document).ready(function () {
        {% block documentReady %}
        $('[data-toggle="popover"]').popover(); 
            //переопределяем экшн у формы логина
            $('#login_user_form').attr('method','');
            $('#login_user_form').attr('action','javascript:validating_login_form();');
            //переопределяем экшн у формы отправки смены пароля на почту пользователя
            $('#lost_password_form').attr('method','');
            $('#lost_password_form').attr('action','javascript:validating_lost_password_form();');
            //переопределяем событие для ссылки
            $('#lost_password_a').on('click',function(evt){
                evt.preventDefault()
                lost_password();
            });
        {% endblock documentReady %}
    });
</script>
</body>
</html>